body {
  background-color: burlywood;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: darkred;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  color: darkred;
  text-align: center;
}

form {
  padding: 15px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.prompt {
  padding: 15px;
  border: 1px solid rgba(67, 16, 22, 0.183);
  width: 80%;
  border-radius: 50px;
  font-size: 15px;
  line-height: 20px;
  color: brown;
}

.response {
  padding: 15px 23px;
  background: brown;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  color: white;
  width: 150px;
}

.response:hover {
  background-color: darkred;
  cursor: pointer;
  color: black;
}

.poem {
  font-size: 17px;
  padding: 15px;
  background-color: white;
  line-height: 1.5;
  border-left: 2px solid brown;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.04);
  color: brown;
}

.poem strong {
  color: darkred;
}

.hidden {
  display: none;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
